cover {
    display: block;
}

page {
    display: block;
    width: 550px;
    height: 600px;
    float: left;
    border: solid black 1px;
    margin: 20px 10px 0 10px;
    padding: 20px 10px 10px 10px;
    background-color: #FFEEDD;
}

line {
    display: block;
    width: 540px;
    font-family: arial, sans;
    display: inline-block;
}

entryHeader {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
}

super {
    vertical-align: super;
    font-size: 0.8em;
}

footnotes {
    display: block;
    margin: 30px 10px 0 10px;
}

note {
    display: block;
}
